<div
    id="message-<%= message.id %>"
    class="message <%= message.user === user ? 'sent' : 'received' %>"
    data-controller="message"
    data-message-user-id-value="<%= message.user.id %>">
    <div class="message_content_align">
      <small class="message-info">
        <strong><%= message.user.username %></strong>
        <i><%=  I18n.localize(message.created_at, format: "%d/%m/%Y à %H:%M")  %></i>
      </small>
      <p class="message-content"><%= message.content %></p>
    </div>
</div>
