<div class="taskform_container">
  <%= form_with(model: [organization, task], method: :post, html: { class: "form", data: { date_form_target: "form" } }) do |f| %>
    <div class="form_input_text">
      <%= f.text_field :title, placeholder: "Qu'avez-vous à faire ?", class: "input_form" %>
      <%= f.text_field :description, placeholder: "Décrivez la tâche", class: "input_form form_desc" %>
      <%= f.select :category, Task::CATEGORIES, { prompt: "Ajoutez une catégorie" }, { class: "input_form" } %>

      <%= f.text_field :start,
                      placeholder: "Sélectionnez une date",
                      data: {
                        controller: "flatpickr",
                        flatpickr_target: "start"
                      },
                      class: "input_form" %>
    </div>
    <div class="urg_btn">
      <div class="urg">
        <%= f.label :priority, "Urgent?" %>
        <label class="switch">
          <%= f.check_box :priority %>
          <span class="slider round"></span>
        </label>
      </div>

      <%= button_tag "Enregistrer", type: :submit, class: "btn-form" %>
    </div>

  <% end %>
</div>
