<%= render "shared/top_page" %>
<div class="maincontainer">
  <% if @tasks.any? %>
    <div class="link_add_task" data-controller="toggle">
      <button data-toggle-target="button" data-action="click->toggle#toggleEdit">
        <i class="fa-solid fa-plus" style="color: #9927f7;"></i>
      </button>
      <div class="div d-none" data-toggle-target="div">
        <%= render "task_form", task: @task, organization: @organization %>
      </div>
    </div>

    <div class="index_tasks">
      <% @tasks.each do |task| %>
        <%= link_to organization_task_path(@organization, task) do %>
          <div class="task_line">
            <div class="task_title"><%= task.title %></div>
            <% if task.status == false %>
              <i class="fa-regular fa-square-check fa-lg"></i>
            <% else %>
              <i class="fa-solid fa-square-check fa-lg"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render "task_form", task: @task, organization: @organization %>
  <% end %>

</div>
