<% if user_signed_in? %>
  <div class="navbar_pixl <%= "no-bg" if current_page?(organizations_path) %>">
    <div class="footer-container">
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to tasks_path do %>
          <i class="fa-solid fa-list-check fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to "#" do %>
          <i class="fa-solid fa-calendar-days fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
      <div class="navbar-round">
        <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
          <%= link_to organizations_path do %>
            <i class="fa-solid fa-people-group fa-2xl" style="color: #B197FC;"></i>
          <% end %>
        </div>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to "#" do %>
          <i class="fa-solid fa-address-book fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to "#" do %>
          <i class="fa-solid fa-comment fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
