<% if user_signed_in? %>
  <div class="navbar_pixl <%= "no-bg" if current_page?(organizations_path) %>">
    <div class="footer-container">
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to tasks_path do %>
          <i class="fa-solid fa-list-check fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to "#" do %>
          <i class="fa-solid fa-calendar-days fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to organization_path(current_user.organization) do %>
          <i class="fa-solid fa-people-roof fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
      <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
        <%= link_to new_organization_message_path(current_user.organization) do %>
          <i class="fa-solid fa-comment fa-2xl" style="color: #B197FC;"></i>
        <% end %>
      </div>
        <div class="nav-item icons <%= "active" if current_page?(organizations_path) %>">
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vous déconnecter ?" } do %>
            <i class="fa-solid fa-arrow-right-from-bracket fa-2xl" style="color: #B197FC;"></i>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
