  <div class="member_organization">
    <div class="user_org">
      <% @other_users.each do |user| %>
        <% if user.avatar.attached? %>
          <%= cl_image_tag user.avatar.key, class: "avatar-mini" %>
        <% else %>
          <%= image_tag user.avatar, class: "avatar-mini" %>
        <% end %>

          <p><%= user.username %></p>

      <% end %>
    </div>
    <div class="last_message_user">
      <i><%= I18n.localize(@messages_users.last.created_at, format: "%d/%m/%Y à %H:%M") %></i>
      <strong><%= @messages_users.last.content %></strong>
    </div>
  </div>
