<div class="top_page-pixl">
  <div class="welcome">
    <div class="user-welcome">
      <%= link_to profile_user_path(current_user) do %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
      <% end %>
      <h2 >Bonjour <%= current_user.username %></h2>

    </div>
    <p>Aujourd'hui nous sommes le <em><%= I18n.localize(Date.today) %></em></p>

  </div>
</div>

<div class="maincontainer">
  <% @organizations.each do |organization| %>
    <div class="cards-orga-infos">
      <div class="pixel-corners pixel-cards">
        <%= link_to organization_path(organization) do %>
          <%= organization.name %>
        <% end %>
      </div>
      <div class="infos-organization">
        <div class="infos">
          <div><i class="fa-solid fa-users" style="color: #b044f8;"></i> <%= organization.users.count %></div>
          <div><i class="fa-solid fa-square-check" style="color: #b044f8;"></i> <%= organization.tasks.count %></div>
          <%# <% past_tasks = organization.tasks.select { |task| task.end.past? } %>
        </div>

      </div>
    </div>
  <% end %>

</div>
