<div class="maincontainer">
  <% if !@organizations.empty? %>
    <% @organizations.each do |organization| %>
      <%= link_to organization.name, organization_path(organization) %>
    <% end %>
  <% else %>
    <p>Add Org</p>
    <%= simple_form_for @organization do |f| %>
      <%= f.input :name %>
      <%= f.input :password %>
      <%= f.input :address %>
      <%= f.submit "Add" %>
    <% end %>
  <% end %>
</div>
