
<div class="maincontainer">
    <div class="cards-orga-infos">
      <div class="pixel-corners pixel-cards">
        <h4><%= @organization.name %></h4>
      </div>
      <div class="infos-organization">

        <div class="infos">

            <%= render 'member_list' %>
        </div>
      </div>
    </div>

  <p>edit orga</p>
  <%= simple_form_for @organization do |f| %>
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</div>

  <%# <%= simple_form_for @organization do |f| %>
      <%# <%= f.input :user, label: "Ajouter un nouveau membre" %> %>
    <%# <%= f.button :submit %>
  <%# <% end %>
