<%= @organization.name %> <br>

<%= link_to "Home", root_path %> <br>
<%= link_to "Supprimer cette organisation", organization_path(@organization), data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr de vouloir supprimer cette organisation ?"} %> <br>

  <%= simple_form_for [@organization, @uo] do |f| %>
      <%= f.input :user, collection: @username, label: "Ajouter un nouveau membre" %>
    <%= f.button :submit %>
  <% end %>


<p>Les membres de la Famille</p>
<% @usersorgs.each do |userorg| %>
  <% member = User.find(userorg.user.id) %>
  <%= member.first_name %> <%= member.last_name %> / <%= member.username %> <%= link_to "Delete", user_org_path(userorg), data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr de vouloir retirer ce membre de la famille ?"} %>
<% end %>


<p>Liste des tâches</p>
<% @tasks.each do |task| %>
  <%= link_to task_path(task) do %>
    <%= task.title %>
  <% end %>
<% end %>


<p>edit orga</p>
<%= simple_form_for @organization do |f| %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
