
<div class="maincontainer">
    <div class="cards-orga-infos">
      <div class="pixel-corners pixel-cards">
        <h4><%= @organization.name %></h4>
      </div>
      <div class="infos-organization">

        <div class="infos" data-controller="toggle">

          <div>
            <button data-toggle-target="button" data-action="click->toggle#toggle">
              <i class="fa-solid fa-users" style="color: #b044f8; margin-right: 10px;"></i><%= @organization.users.count %>
            </button>
            <%= render 'member_list' %>
          </div>
          <div><i class="fa-solid fa-square-check" style="color: #b044f8; margin-right: 10px;"></i> <%= @organization.tasks.count %></div>
        </div>
      </div>
    </div>

  <p>Liste des tâches</p>
  <% @tasks.each do |task| %>
    <%= link_to task_path(task) do %>
      <%= task.title %>
    <% end %>
  <% end %>


  <p>edit orga</p>
  <%= simple_form_for @organization do |f| %>
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</div>

  <%# <%= simple_form_for @organization do |f| %>
      <%# <%= f.input :user, label: "Ajouter un nouveau membre" %> %>
    <%# <%= f.button :submit %> %>
  <%# <% end %> %> %>
