<!DOCTYPE html>
<html>
  <head>
    <title>FamilyFlow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

  </head>

  <body>
    <main>
      <%# ATTENTION - ALERTE ET NOTICE QUE L'ON NE PEUT SUPPR AVEC LA CROIX SUR SIMULATEUR MOBILE %>
      <%# <%= render "shared/flashes" %>
      <% if user_signed_in? %>
        <%= render "shared/top_page" %>
      <% end %>
      <%= yield %>
    </main>
    <% unless current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
